.infocontainer,.searchcontainer{
    padding: 10px;
}
.infocontainer > .card-body{
    padding: 50px 0;
}
.infocontainer{
    padding-top: 50px;
    height: 310px;
}
.card-body{
    padding: 5px 16px;
}
.card-title{
    padding: 10px 0;
    font-weight: 700;
}
.card{
    border: none;
}
.countryinfo, .error1{
    display: none;
    width: 100%;
}
.countryinfo > .card-group:not(:last-child){
    border-bottom: 1px solid black;
}
.countryinfo > .card-group > .card:not(:first-child){
    border-left: 1px solid black;
}

.space{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin : 10px 0;
    padding : 20px;
    text-align: start;
    overflow: auto;
}

.hide-scroll{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hide-scroll::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width:478px) {
    .infocontainer{
        padding-top: 0;
        height: 370px;
    }
    .countryinfo > .card-group{
        display: flex;
    }
    .countryinfo > .card-group > .card{
        width: 33%;
        margin-bottom: 0;
        border-radius: 0;
    }
    .countryinfo > .card-group > .card > .card-body{
        margin-bottom: 10px;
    }
    table > thead > tr > th:first-child, table > tbody > tr > td:first-child{
        position: sticky;
        left: -20px;
        background-color: white;
    }
}